.BitcoinPrice {
    flex: auto;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 3em;
    font-weight: 300;
}

.BitcoinPrice .price {
    flex: auto;

    text-align: center;
}