body {
  background-color: black;
  color: white;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  margin-left: 3em;
  margin-right: 3em;
}

.UpperSection {
  flex: 50%;

  display: flex;
  flex-direction: row;
  margin-top: 3em;
}

.LowerSection {
  flex: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
