.App {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.UpperSection {
  flex: 50%;

  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.LowerSection {
  flex: 50%;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
