.CurrentWeather{
    text-align: left;
}

.location {
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 5px;
}

.weatherDescription {
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.temperature {
    font-size: 80px;
    font-weight: lighter;
}
